# Wine Classifier

Wine dataset: https://www.kaggle.com/dell4010/wine-dataset/data

In [42]:
import os
import pandas as pd 

data = pd.read_csv(os.path.join('Data','wine_dataset.csv'))

In [43]:
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [44]:
data['style'] = data['style'].replace('red', 0)

In [45]:
data['style'] = data['style'].replace('white', 1)

In [46]:
# separando entre alvo  Y = style e X = tudo menos a coluna Style
# axis = 1 operação nas colunas

y = data['style']
x = data.drop('style', axis = 1)

In [47]:
from sklearn.model_selection import train_test_split

#cria conjunto de dados para treino e para teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

#test_size = 0.3 -> 30% do conjunto de dados vai ser dedicado para testes 

#train_test_split() -> 4 saidas, 2 para treino 2 para teste

## Decision tree

In [48]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print ("Acurácia:", resultado )

Acurácia: 0.9964102564102564

# Prevendo

In [49]:
previsoes = modelo.predict(x_teste[300:305])
previsoes

array([0, 1, 1, 0, 0])

In [50]:
y_teste[300:305]

702     0
4438    1
6436    1
1039    0
253     0
Name: style, dtype: int64

In [51]:
x_teste[300:305]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
702,7.0,0.640,0.02,2.1,0.067,9.0,23.0,0.99700,3.47,0.67,9.4,6
4438,5.8,0.220,0.29,0.9,0.034,34.0,89.0,0.98936,3.14,0.36,11.1,7
6436,6.5,0.280,0.38,7.8,0.031,54.0,216.0,0.99154,3.03,0.42,13.1,6
1039,8.9,0.500,0.21,2.2,0.088,21.0,39.0,0.99692,3.33,0.83,11.1,6
253,7.7,0.775,0.42,1.9,0.092,8.0,86.0,0.99590,3.23,0.59,9.5,5