# Wine Quality

Wine dataset: https://www.kaggle.com/dell4010/wine-dataset/data

In [25]:
import os
import pandas as pd 

data = pd.read_csv(os.path.join('Data','wine_dataset.csv'))

In [26]:
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [27]:
data['style'] = data['style'].replace('red', 0)

In [28]:
data['style'] = data['style'].replace('white', 1)

In [29]:
# separando entre alvo  Y = style e X = tudo menos a coluna Style
# axis = 1 operação nas colunas

y = data['quality']
x = data.drop('quality', axis = 1)

In [30]:
from sklearn.model_selection import train_test_split

#cria conjunto de dados para treino e para teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

#test_size = 0.3 -> 30% do conjunto de dados vai ser dedicado para testes 

#train_test_split() -> 4 saidas, 2 para treino 2 para teste

## Decision tree

In [55]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print ("Acurácia: %1.1f %%" %(resultado*100))

Acurácia: 67.9 %

In [44]:
previsoes = modelo.predict(x_teste[300:305])
previsoes

array([6, 5, 5, 5, 5])

In [45]:
y_teste[300:305]

2586    6
1382    5
5682    5
368     5
3392    5
Name: quality, dtype: int64

In [34]:
x_teste[300:305]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,style
2586,7.4,0.30,0.30,5.20,0.053,45.0,163.0,0.99410,3.12,0.45,10.3,1
1382,8.0,0.60,0.22,2.10,0.080,25.0,105.0,0.99613,3.30,0.49,9.9,0
5682,6.2,0.30,0.32,1.20,0.052,32.0,185.0,0.99266,3.28,0.44,10.1,1
368,10.3,0.34,0.52,2.80,0.159,15.0,75.0,0.99980,3.18,0.64,9.4,0
3392,7.4,0.35,0.31,17.95,0.062,42.0,187.0,1.00020,3.27,0.64,9.1,1

# SVM

In [35]:
from sklearn.svm import SVC

svc = SVC()

In [36]:
svc.fit(x_treino, y_treino)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [37]:
from sklearn.metrics import accuracy_score

test_predictions_SVC  = svc.predict(x_teste)
train_predictions_SVC = svc.predict(x_treino) 

print(accuracy_score(y_treino, train_predictions_SVC))
print(accuracy_score(y_teste, test_predictions_SVC))

0.44051022652298216
0.43846153846153846

# KNN

In [38]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

In [39]:
knn.fit(x_treino, y_treino)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [40]:
test_predictions_knn  = knn.predict(x_teste)
train_predictions_knn = knn.predict(x_treino) 

print(accuracy_score(y_treino, train_predictions_knn))
print(accuracy_score(y_teste, test_predictions_knn))

0.6371233780514625
0.4774358974358974

In [41]:
previsoes = knn.predict(x_teste[300:305])
previsoes

array([5, 6, 5, 6, 6])

In [42]:
y_teste[300:305]

2586    6
1382    5
5682    5
368     5
3392    5
Name: quality, dtype: int64