# Wine Classifier

Wine dataset: https://www.kaggle.com/dell4010/wine-dataset/data

In [1]:
import os
import pandas as pd 

data = pd.read_csv(os.path.join('Data','wine_dataset.csv'))

In [2]:
data.head()

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality,style
0,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red
1,7.8,0.88,0.00,2.6,0.098,25.0,67.0,0.9968,3.20,0.68,9.8,5,red
2,7.8,0.76,0.04,2.3,0.092,15.0,54.0,0.9970,3.26,0.65,9.8,5,red
3,11.2,0.28,0.56,1.9,0.075,17.0,60.0,0.9980,3.16,0.58,9.8,6,red
4,7.4,0.70,0.00,1.9,0.076,11.0,34.0,0.9978,3.51,0.56,9.4,5,red

In [3]:
data['style'] = data['style'].replace('red', 0)

In [4]:
data['style'] = data['style'].replace('white', 1)

In [5]:
# separando entre alvo  Y = style e X = tudo menos a coluna Style
# axis = 1 operação nas colunas

y = data['style']
x = data.drop('style', axis = 1)

In [6]:
from sklearn.model_selection import train_test_split

#cria conjunto de dados para treino e para teste
x_treino, x_teste, y_treino, y_teste = train_test_split(x, y, test_size = 0.3)

#test_size = 0.3 -> 30% do conjunto de dados vai ser dedicado para testes 

#train_test_split() -> 4 saidas, 2 para treino 2 para teste

## Decision tree

In [31]:
from sklearn.ensemble import ExtraTreesClassifier

modelo = ExtraTreesClassifier()
modelo.fit(x_treino, y_treino)

resultado = modelo.score(x_teste, y_teste)
print ("Acurácia: %1.1f %%" %(resultado*100))

Acurácia: 99.6 %

In [8]:
previsoes = modelo.predict(x_teste[300:305])
previsoes

array([1, 0, 1, 0, 0])

In [9]:
y_teste[300:305]

5885    1
767     0
5857    1
541     0
710     0
Name: style, dtype: int64

In [10]:
x_teste[300:305]

,fixed_acidity,volatile_acidity,citric_acid,residual_sugar,chlorides,free_sulfur_dioxide,total_sulfur_dioxide,density,pH,sulphates,alcohol,quality
5885,6.0,0.200,0.26,6.8,0.049,22.0,93.0,0.99280,3.15,0.42,11.0,6
767,7.5,0.600,0.32,2.7,0.103,13.0,98.0,0.99938,3.45,0.62,9.5,5
5857,5.8,0.300,0.23,1.5,0.034,37.0,121.0,0.98871,2.96,0.34,12.1,6
541,9.5,0.460,0.49,6.3,0.064,5.0,17.0,0.99880,3.21,0.73,11.0,6
710,10.6,1.025,0.43,2.8,0.080,21.0,84.0,0.99850,3.06,0.57,10.1,5

# SVM

In [11]:
from sklearn.svm import SVC

svc = SVC()

In [12]:
svc.fit(x_treino, y_treino)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [23]:
from sklearn.metrics import accuracy_score

test_predictions_SVC  = svc.predict(x_teste)
train_predictions_SVC = svc.predict(x_treino) 

print(accuracy_score(y_treino, train_predictions_SVC))
print(accuracy_score(y_teste, test_predictions_SVC))

0.9329228062458764
0.9415384615384615

In [24]:
previsoes = svc.predict(x_teste[300:305])
previsoes

array([1, 1, 1, 0, 1])

In [25]:
y_teste[300:305]

5885    1
767     0
5857    1
541     0
710     0
Name: style, dtype: int64

# KNN

In [14]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()

In [15]:
knn.fit(x_treino, y_treino)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=5, p=2,
                     weights='uniform')

In [26]:
test_predictions_knn  = knn.predict(x_teste)
train_predictions_knn = knn.predict(x_treino) 

print(accuracy_score(y_treino, train_predictions_knn))
print(accuracy_score(y_teste, test_predictions_knn))

0.9540356278865186
0.9492307692307692

In [27]:
previsoes = knn.predict(x_teste[300:305])
previsoes

array([1, 1, 1, 0, 0])

In [28]:
y_teste[300:305]

5885    1
767     0
5857    1
541     0
710     0
Name: style, dtype: int64